In [5]:
import pandas as pd
df=pd.read_csv('weather.csv')
df

       date  temperature  windspeed   event
0  1/2/2020           23         10   foggy
1  2/2/2020           25         12  cloudy
2  3/3/2020           19         13   rainy
3  4/4/2020           27          8    hot

In [14]:
import pandas as pd
df=pd.read_excel("weather.xlsx","Sheet1")
df

        date  temperature  windspeed   event
0 2020-01-02           23         10   foggy
1 2020-02-02           25         12  cloudy
2 2020-03-03           19         13   rainy
3 2020-04-04           27          8    hot

In [15]:
import pandas as pd
dictionary={
    'date':['1/1/2020','2/1/2020','3/1/2020'],
    'temparature':[12,13,14],
    'event':['rainy','foggy','hot']
}
df=pd.DataFrame(dictionary)
df

       date  temparature  event
0  1/1/2020           12  rainy
1  2/1/2020           13  foggy
2  3/1/2020           14    hot

In [16]:
import pandas as pd 
tupleData=[
    ('1/1/2020',12,'rainy'),
     ('2/1/2020',12,'foggy')
]
df=pd.DataFrame(tupleData,columns=['date','temparature','event'])
df

       date  temparature  event
0  1/1/2020           12  rainy
1  2/1/2020           12  foggy